# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
output_weather_csv=pd.read_csv('weather_CSV/weather_data.csv') 
city_df=pd.DataFrame(output_weather_csv)
city_df

,Unnamed: 0,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,punta arenas,-53.1500,-70.9167,46.00,45,20,19.57,CL,1615616962
1,1,emerald,-23.5333,148.1667,93.20,36,94,8.05,AU,1615617088
2,2,phan thiet,10.9333,108.1000,87.75,52,14,14.97,VN,1615617088
3,3,kieta,-6.2167,155.6333,82.47,71,100,6.26,PG,1615617088
4,4,norman wells,65.2820,-126.8329,-4.00,65,75,9.22,CA,1615617089
...,...,...,...,...,...,...,...,...,...,...
570,570,tuatapere,-46.1333,167.6833,60.21,75,0,2.57,NZ,1615617250
571,571,atambua,-9.1061,124.8925,80.51,81,99,2.04,ID,1615617250
572,572,puerto maldonado,-12.6000,-69.1833,70.61,97,100,1.50,PE,1615617250
573,573,carolina,18.3808,-65.9574,73.40,94,40,4.61,PR,1615617251
574,574,lyuban,52.7985,28.0048,33.12,93,1,9.98,BY,1615617251

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
#configure gmaps.
gmaps.configure(api_key=g_key)

#adding the location and longitud for the fig

locations= city_df[["Lat","lng"]]
#print(locations)
weight_humidity=city_df["Humidity"].astype(float)
#print(weight)

#inserting the map
fig=gmaps.figure()

#creating the heat leyer
heat_layer=gmaps.heatmap_layer(locations, weights=weight_humidity, dissipating=False, max_intensity=30,point_radius=3)

#adding the layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
#getting the cities with values lower 80 but higher that 70, wind speeds less that 10 mph and zero cloudiness
#values lower 80
ideal_city_80_df=city_df.loc[(city_df["Max Temp"] < 80), :]
#higher that 70
ideal_city_70r_df=ideal_city_80_df.loc[(ideal_city_80_df["Max Temp"] >70), :]
#speeds less that 10 mph
wind_speed_df=ideal_city_70r_df.loc[(ideal_city_70r_df["Wind Speed"]<10),:]
wind_speed_df.reset_index()
del wind_speed_df['Unnamed: 0']
wind_speed_df

,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,limbang,4.7500,115.0000,75.20,100,75,2.30,MY,1615617089
10,avarua,-21.2078,-159.7750,77.00,94,42,3.44,CK,1615617090
18,busselton,-33.6500,115.3333,71.01,49,0,3.00,AU,1615617092
26,atuona,-9.8000,-139.0333,79.93,62,100,3.76,PF,1615617095
27,nauta,-4.5061,-73.5757,70.70,95,37,1.19,PE,1615617095
...,...,...,...,...,...,...,...,...,...
545,springbok,-29.6643,17.8865,74.34,24,81,0.72,ZA,1615617242
551,pimentel,-6.8367,-79.9342,72.00,85,100,3.00,PE,1615617244
556,rafai,4.9500,23.9167,77.54,67,100,4.12,CF,1615617246
572,puerto maldonado,-12.6000,-69.1833,70.61,97,100,1.50,PE,1615617250
573,carolina,18.3808,-65.9574,73.40,94,40,4.61,PR,1615617251

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure